# Django
# djangorestframework
# django-cors-headers
# django-filter
# Pillow
# python-decouple
# djangorestframework-simplejwt
# gunicorn
# whitenoise
# dj-database-url
# psycopg2-binary

Django
djangorestframework
django-cors-headers
django-filter
Pillow
python-decouple
djangorestframework-simplejwt
gunicorn
whitenoise
dj-database-url
psycopg2-binary
